@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <button class="btn btn-link custom-button">Create Your Profile</button>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Read</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                string[] titleparts = product.Title.Split('\n');
                <tr>
                    <td>@titleparts[0]</td>
                    <td>
                        <a asp-page="Read" asp-route-id="@product.Id" class="btn cool-button read-button">
                            Read
                        </a>
                    </td>
                    <td>
                        <a asp-page="Update" asp-route-id="@product.Id" class="btn cool-button update-button">
                            <span class="icon">Update</span>
                        </a>
                    </td>
                    <td>
                        <a asp-page="Delete" asp-route-id="@product.Id" class="btn cool-button delete-button">
                            Delete
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
