@page "{id}"
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel
@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        <div class="form-group">
            <label>Name</label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Product.Email" class="form-control" />
            <span asp-validation-for="Product.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Age</label>
            <input asp-for="Product.Age" class="form-control" />
            <span asp-validation-for="Product.Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Resume Link</label>
            <input asp-for="Product.Url" class="form-control" />
            <span asp-validation-for="Product.Url" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Profile Picture</label>
            <input asp-for="Product.Image" class="form-control" />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>

        <div class="form-group" style="display:inline-block">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="submit" value="Cancel" class="btn btn-primary" />
        </div>

    </form>
</div>
<!-- This Razor Pages view allows users to update product information. It expects an 'id' route parameter to identify the product being edited. The form is used for submitting updates. -->